.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.signal-container {
    width: 552px;
    background: white;
    border-radius: 20px;
    border: #7d7d7d solid 2px;
}
