<button
    [matMenuTriggerFor]="menu"
    mat-raised-button
>Add
</button>

<div class="actions-container">
    <ng-container
        *ngFor="let actionType of actions; let i = index"
        [ngSwitch]="actionType"
    >
        <h3 class="center">{{actionType}}</h3>
        <div
            [@removing]="states[i]"
            class="item-container"
        >
            <ng-template ngSwitchCase="Combination">
                <app-combination-action/>
            </ng-template>
            <ng-template ngSwitchCase="Modulation">
                <app-modulation-action/>
            </ng-template>
            <ng-template ngSwitchCase="Fourier">
                <app-fourier-transform-action/>
            </ng-template>
            <ng-template ngSwitchCase="Smoothing">
                <app-smoothing-action/>
            </ng-template>
            <ng-template ngSwitchCase="Kernel">
                <app-kernel-image-action/>
            </ng-template>
            <ng-template ngSwitchCase="Correlation">
                <app-correlation-action/>
            </ng-template>
            <ng-template ngSwitchCase="Audio Converter">
                <app-audio-converter-action/>
            </ng-template>
            <button
                (click)="removeItem(i)"
                color="warn"
                mat-raised-button
            >
                <span>X</span>
            </button>
        </div>
    </ng-container>
</div>

<mat-menu #menu="matMenu">
    <button
        (click)="addAction(actionType)"
        *ngFor="let actionType of actionTypes"
        mat-menu-item
    >
        {{ actionType }}
    </button>
</mat-menu>
