.actions-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.item-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 10px;

    button {
        text-align: center;
        width: 20px;
        height: 360px;
        padding: 30px;
        margin-top: 63px;
    }
}


