.container {
    min-width: 552px;
    min-height: 360px;
    width: auto;
    height: auto;
    background: #f5f5f5;
    border-radius: 20px;
    border: #7d7d7d solid 2px;

    box-shadow: 0 0 20px 1px #ababab inset;

    display: flex;

    .image-container {
        cursor: pointer;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        .plus-icon {
            font-size: 72px;
            font-family: "Cascadia Code", monospace;
        }

        .image {
            object-fit: contain;
            overflow-y: clip;
            min-height: 100%;
            max-height: 100%;
            min-width: 100%;
            max-width: 100%;
            height: 0; // triggers browser to use min/max heights
            width: 0;
        }
    }


}

.cdk-drag-placeholder {
    opacity: 0;
}
