.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    .sum-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .settings {
        width: 250px;
        height: 326px;
        background: white;
        border-radius: 20px;
        border: #7d7d7d solid 2px;
        padding: 20px;
        margin-top: 62px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        * {
            width: 100%;
        }
    }
}

.signal-container {
    width: 550px;
    background: white;
    border-radius: 20px;
    border: #7d7d7d solid 2px;
}
